## SEC Financial Statement Data II: Merge the Files

In [2]:
import pandas as pd
import os

Select a folder from the "data/sec/downloads" directory:

In [3]:
folder = '2020_12'

Read the file with the submissions::

In [4]:
filings = pd.read_table('data/sec/downloads/'+folder+'/sub.tsv')
filings[:3]

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,accepted,prevrpt,detail,instance,nciks,aciks,pubfloatusd,floatdate,floataxis,floatmems
0,0000021510-20-000049,21510,COHERENT INC,3826.0,US,CA,SANTA CLARA,95054,5100 PATRICK HENRY DR,NaN,...,2020-12-01 16:10:00.0,0,1,cohr-20201003_htm.xml,1,NaN,1.386118e+09,20200404.0,NaN,NaN
1,0000034088-20-000095,34088,EXXON MOBIL CORP,2911.0,US,TX,IRVING,75039-2298,5959 LAS COLINAS BLVD,NaN,...,2020-12-01 07:15:00.0,0,0,xom-20201124_htm.xml,1,NaN,NaN,NaN,NaN,NaN
2,0000045012-20-000111,45012,HALLIBURTON CO,1389.0,US,TX,HOUSTON,77032,3000 NORTH SAM HOUSTON PARKWAY EAST,3000 NORTH SAM HOUSTON PARKWAY EAST,...,2020-12-01 13:33:00.0,0,0,ex10b5_1tradingplan_htm.xml,1,NaN,NaN,NaN,NaN,NaN

All columns:

In [5]:
filings.columns

Index(['adsh', 'cik', 'name', 'sic', 'countryba', 'stprba', 'cityba', 'zipba',
       'bas1', 'bas2', 'baph', 'countryma', 'stprma', 'cityma', 'zipma',
       'mas1', 'mas2', 'countryinc', 'stprinc', 'ein', 'former', 'changed',
       'afs', 'wksi', 'fye', 'form', 'period', 'fy', 'fp', 'filed', 'accepted',
       'prevrpt', 'detail', 'instance', 'nciks', 'aciks', 'pubfloatusd',
       'floatdate', 'floataxis', 'floatmems'],
      dtype='object')

Look at these columns:

In [6]:
filings[['name','cik','sic','countryinc','filed','form']][:5]

               name    cik     sic countryinc     filed  form
0      COHERENT INC  21510  3826.0         US  20201201  10-K
1  EXXON MOBIL CORP  34088  2911.0         US  20201201   8-K
2    HALLIBURTON CO  45012  1389.0         US  20201201   8-K
3        HUMANA INC  49071  6324.0         US  20201201   8-K
4        ALLETE INC  66756  4931.0         US  20201201   8-K

We want only 10-Qs and 10-Ks:

In [7]:
filings[filings.form == '10-Q'][['name','cik','sic','countryinc','filed','form']]
filings[(filings.form == '10-Q') | (filings.form == '10-K')][['name','cik','sic','countryinc','filed','form']]

,name,cik,sic,countryinc,filed,form
0,COHERENT INC,21510,3826.0,US,20201201,10-K
8,TJX COMPANIES INC /DE/,109198,5651.0,US,20201201,10-Q
74,HENNESSY ADVISORS INC,1145255,6282.0,NaN,20201201,10-K
122,"BORROWMONEY.COM, INC.",1656501,7389.0,US,20201201,10-K
150,GSG GROUP INC.,1668523,2750.0,NaN,20201201,10-K
...,...,...,...,...,...,...
3327,AZAR INTERNATIONAL CORP.,1787123,4700.0,US,20201231,10-Q
3329,"GLOBAL HEALTHCARE REIT, INC.",727346,6798.0,US,20201231,10-Q
3333,"BLUE LINE PROTECTION GROUP, INC.",1416697,5900.0,US,20201231,10-Q
3348,"TELIGENT, INC.",352998,2834.0,US,20201231,10-Q
3349,MIRAGE ENERGY CORP,1623360,3089.0,US,20201231,10-Q

Which rows have no country:

In [8]:
filings[filings.countryinc.isnull()][['name','cik','sic','countryinc','filed','form']]

,name,cik,sic,countryinc,filed,form
19,PPL CORP,922224,4911.0,NaN,20201201,8-K
27,"J2 GLOBAL, INC.",1084048,4822.0,NaN,20201201,8-K
30,ELANCO ANIMAL HEALTH INC,1739104,2834.0,NaN,20201201,8-K
39,SUNDANCE ENERGY INC.,1326089,1311.0,NaN,20201201,8-K
53,UNITED STATES COMMODITY INDEX FUNDS TRUST,1479247,6221.0,NaN,20201201,8-K
...,...,...,...,...,...,...
3316,CUENTAS INC.,1424657,5140.0,NaN,20201231,S-1/A
3322,TEXAS PACIFIC LAND TRUST,97517,6792.0,NaN,20201231,8-K
3325,WASHINGTON PRIME GROUP INC.,1594686,6798.0,NaN,20201231,8-K
3332,HUALE ACOUSTICS LTD,1636760,7389.0,NaN,20201231,F-1
3341,ACORDA THERAPEUTICS INC,1008848,2836.0,NaN,20201231,8-K

Which rows have a country:

In [9]:
filings[filings.countryinc.notnull()][['name','cik','sic','countryinc','filed','form']]

                       name      cik     sic countryinc     filed    form
0              COHERENT INC    21510  3826.0         US  20201201    10-K
1          EXXON MOBIL CORP    34088  2911.0         US  20201201     8-K
2            HALLIBURTON CO    45012  1389.0         US  20201201     8-K
3                HUMANA INC    49071  6324.0         US  20201201     8-K
4                ALLETE INC    66756  4931.0         US  20201201     8-K
...                     ...      ...     ...        ...       ...     ...
3349     MIRAGE ENERGY CORP  1623360  3089.0         US  20201231    10-Q
3350           CEL SCI CORP   725363  2836.0         US  20201231  10-Q/A
3351        B2DIGITAL, INC.   725929  7997.0         US  20201231     S-1
3352  ALR TECHNOLOGIES INC.  1087022  3669.0         US  20201231     8-K
3353    KAYA HOLDINGS, INC.  1530746  2834.0         US  20201231     8-K

[3026 rows x 6 columns]

We also want to make sure that every row are a CIK:
Select all 10-Qs and 10-Ks and make sure every filing has a CIK:

In [10]:
filings = filings[((filings.form == '10-Q') | (filings.form == '10-K')) & filings.cik.notnull()]
filings[['name','cik','sic','countryinc','filed','form']]

,name,cik,sic,countryinc,filed,form
0,COHERENT INC,21510,3826.0,US,20201201,10-K
8,TJX COMPANIES INC /DE/,109198,5651.0,US,20201201,10-Q
74,HENNESSY ADVISORS INC,1145255,6282.0,NaN,20201201,10-K
122,"BORROWMONEY.COM, INC.",1656501,7389.0,US,20201201,10-K
150,GSG GROUP INC.,1668523,2750.0,NaN,20201201,10-K
...,...,...,...,...,...,...
3327,AZAR INTERNATIONAL CORP.,1787123,4700.0,US,20201231,10-Q
3329,"GLOBAL HEALTHCARE REIT, INC.",727346,6798.0,US,20201231,10-Q
3333,"BLUE LINE PROTECTION GROUP, INC.",1416697,5900.0,US,20201231,10-Q
3348,"TELIGENT, INC.",352998,2834.0,US,20201231,10-Q
3349,MIRAGE ENERGY CORP,1623360,3089.0,US,20201231,10-Q

Read the numbers file:

In [11]:
numbers = pd.read_table('data/sec/downloads/'+folder+'/num.tsv', encoding='ISO-8859-1', error_bad_lines=False) 
numbers

/Users/bradpetersen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0001640334-20-002990,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20180131,0,USD,0x00000000,0,18512.0,NaN,0,0,NaN,0.000000,0.0,0
1,0001640334-20-002990,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20170131,0,USD,0x00000000,0,0.0,NaN,0,0,NaN,0.000000,0.0,0
2,0001640334-20-002995,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20190831,0,USD,0x00000000,0,46652.0,NaN,0,0,NaN,0.000000,0.0,0
3,0001640334-20-002995,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20200831,0,USD,0x00000000,0,189680.0,NaN,0,0,NaN,0.000000,0.0,0
4,0001640334-20-003002,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20191231,0,USD,0x00000000,0,15444.0,NaN,0,0,NaN,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567315,0001477932-20-007602,WarrantsExercisedValue,0001477932-20-007602,20190630,0,USD,0x0e768c9182357176566f3655a0d7a7de,0,1071.0,NaN,0,1,NaN,-0.317808,0.0,0
567316,0001477932-20-007602,WarrantsExercisedValue,0001477932-20-007602,20200331,4,USD,0x0e768c9182357176566f3655a0d7a7de,0,1071.0,NaN,0,1,NaN,0.000000,0.0,0
567317,0001477932-20-007602,WarrantsGranted,0001477932-20-007602,20190630,2,shares,0x0e768c9182357176566f3655a0d7a7de,0,21427.0,NaN,0,1,NaN,0.027398,0.0,0
567318,0001477932-20-007602,WarrantsGranted,0001477932-20-007602,20190331,4,shares,0x0e768c9182357176566f3655a0d7a7de,0,21427.0,NaN,0,1,NaN,0.010959,0.0,0
567319,0001477932-20-007602,WarrantsIssuedShares,0001477932-20-007602,20190331,4,shares,0x947f5abac5ff1266f27e8b65c626ff5b,0,237747.0,NaN,0,1,NaN,0.010959,0.0,0

Exclude all segments:

In [12]:
numbers = numbers[(numbers.dimh=='0x00000000')]
numbers

,adsh,tag,version,ddate,qtrs,uom,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0001640334-20-002990,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20180131,0,USD,0x00000000,0,18512.0,NaN,0,0,NaN,0.00000,0.0,0
1,0001640334-20-002990,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20170131,0,USD,0x00000000,0,0.0,NaN,0,0,NaN,0.00000,0.0,0
2,0001640334-20-002995,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20190831,0,USD,0x00000000,0,46652.0,NaN,0,0,NaN,0.00000,0.0,0
3,0001640334-20-002995,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20200831,0,USD,0x00000000,0,189680.0,NaN,0,0,NaN,0.00000,0.0,0
4,0001640334-20-003002,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,20191231,0,USD,0x00000000,0,15444.0,NaN,0,0,NaN,0.00000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311173,0001477932-20-007602,TotalAccruedMaintenanceFees,0001477932-20-007602,20200331,4,USD,0x00000000,0,128000.0,NaN,0,0,NaN,0.00000,0.0,0
311180,0001477932-20-007602,TotalSharesEarned,0001477932-20-007602,20200930,2,shares,0x00000000,0,7252547.0,NaN,0,0,NaN,0.00548,0.0,0
311181,0001477932-20-007602,TotalSharesEarned,0001477932-20-007602,20200331,4,shares,0x00000000,0,4948792.0,NaN,0,0,NaN,0.00000,0.0,0
311182,0001477932-20-007602,VestPercentageAtGrant,0001477932-20-007602,20200331,4,pure,0x00000000,0,0.2,NaN,0,0,NaN,0.00000,0.0,32767
311185,0001477932-20-007602,WorkingCapitalDeficit,0001477932-20-007602,20200331,0,USD,0x00000000,0,-2875704.0,NaN,0,0,NaN,0.00000,0.0,0

Merge the two tables on adsh, keep only rows that appear in both tables:

In [13]:
filings.merge(numbers, on = 'adsh', how = 'inner')

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,dimh,iprx,value,footnote,footlen,dimn,coreg,durp,datp,dcml
0,0000021510-20-000049,21510,COHERENT INC,3826.0,US,CA,SANTA CLARA,95054,5100 PATRICK HENRY DR,NaN,...,0x00000000,0,60225000.0,NaN,0,0,NaN,0.00000,-3.0,-3
1,0000021510-20-000049,21510,COHERENT INC,3826.0,US,CA,SANTA CLARA,95054,5100 PATRICK HENRY DR,NaN,...,0x00000000,0,51531000.0,NaN,0,0,NaN,0.00000,2.0,-3
2,0000021510-20-000049,21510,COHERENT INC,3826.0,US,CA,SANTA CLARA,95054,5100 PATRICK HENRY DR,NaN,...,0x00000000,0,220289000.0,NaN,0,0,NaN,0.00000,-3.0,-3
3,0000021510-20-000049,21510,COHERENT INC,3826.0,US,CA,SANTA CLARA,95054,5100 PATRICK HENRY DR,NaN,...,0x00000000,0,267553000.0,NaN,0,0,NaN,0.00000,2.0,-3
4,0000021510-20-000049,21510,COHERENT INC,3826.0,US,CA,SANTA CLARA,95054,5100 PATRICK HENRY DR,NaN,...,0x00000000,0,6861000.0,NaN,0,0,NaN,0.00000,-3.0,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182725,0001640334-20-003182,1623360,MIRAGE ENERGY CORP,3089.0,US,TX,SAN ANTONIO,78216,"900 ISOM, SUITE 306",NaN,...,0x00000000,0,963.0,NaN,0,0,NaN,0.00000,0.0,0
182726,0001640334-20-003182,1623360,MIRAGE ENERGY CORP,3089.0,US,TX,SAN ANTONIO,78216,"900 ISOM, SUITE 306",NaN,...,0x00000000,0,1234.0,NaN,0,0,NaN,0.00000,0.0,0
182727,0001640334-20-003182,1623360,MIRAGE ENERGY CORP,3089.0,US,TX,SAN ANTONIO,78216,"900 ISOM, SUITE 306",NaN,...,0x00000000,0,470214.0,NaN,0,0,NaN,0.00274,0.0,0
182728,0001640334-20-003182,1623360,MIRAGE ENERGY CORP,3089.0,US,TX,SAN ANTONIO,78216,"900 ISOM, SUITE 306",NaN,...,0x00000000,0,320813.0,NaN,0,0,NaN,0.00274,0.0,0
182729,0001640334-20-003182,1623360,MIRAGE ENERGY CORP,3089.0,US,TX,SAN ANTONIO,78216,"900 ISOM, SUITE 306",NaN,...,0x00000000,0,-2915117.0,NaN,0,0,NaN,0.00000,0.0,0

Keep only these columns:

In [14]:
keep_these_columns = ['cik','sic','countryinc','tag','filed','ddate','qtrs','value']

An now all together:

In [15]:
merged = filings.merge(numbers, on = 'adsh', how = 'inner')[keep_these_columns]
merged[:3]

,cik,sic,countryinc,tag,filed,ddate,qtrs,value
0,21510,3826.0,US,AccountsPayableCurrent,20201201,20200930,0,60225000.0
1,21510,3826.0,US,AccountsPayableCurrent,20201201,20190930,0,51531000.0
2,21510,3826.0,US,AccountsReceivableNetCurrent,20201201,20200930,0,220289000.0

How many days between 'filed' and 'ddate'?

In [16]:
date1 = merged.filed.iloc[0]
date1

20201201

In [17]:
date2 = merged.ddate.iloc[0]
date2

20200930

In [18]:
pd.to_datetime(date1,  format='%Y%m%d')

Timestamp('2020-12-01 00:00:00')

In [19]:
# Calculate the difference:
pd.to_datetime(date1,  format='%Y%m%d') - pd.to_datetime(date2,  format='%Y%m%d')

Timedelta('62 days 00:00:00')

Interpret the 'filed' and 'ddate' as dates:

In [20]:
merged['filed'] = pd.to_datetime(merged.filed, format='%Y%m%d', errors='coerce')    #  â€˜coerceâ€™: invalid parsing set as NaT.
merged['ddate'] = pd.to_datetime(merged.ddate, format='%Y%m%d', errors='coerce')
merged[:3]

##convert 'filed' and 'ddate' column to dates

,cik,sic,countryinc,tag,filed,ddate,qtrs,value
0,21510,3826.0,US,AccountsPayableCurrent,2020-12-01,2020-09-30,0,60225000.0
1,21510,3826.0,US,AccountsPayableCurrent,2020-12-01,2019-09-30,0,51531000.0
2,21510,3826.0,US,AccountsReceivableNetCurrent,2020-12-01,2020-09-30,0,220289000.0

Remove any missing dates:

In [21]:
merged = merged[merged.filed.notnull() & merged.ddate.notnull()]

Remove duplicated rows:

In [22]:
merged = merged.drop_duplicates()
merged

,cik,sic,countryinc,tag,filed,ddate,qtrs,value
0,21510,3826.0,US,AccountsPayableCurrent,2020-12-01,2020-09-30,0,60225000.0
1,21510,3826.0,US,AccountsPayableCurrent,2020-12-01,2019-09-30,0,51531000.0
2,21510,3826.0,US,AccountsReceivableNetCurrent,2020-12-01,2020-09-30,0,220289000.0
3,21510,3826.0,US,AccountsReceivableNetCurrent,2020-12-01,2019-09-30,0,267553000.0
4,21510,3826.0,US,AccruedIncomeTaxesCurrent,2020-12-01,2020-09-30,0,6861000.0
...,...,...,...,...,...,...,...,...
182725,1623360,3089.0,US,RemainingUnpaidPortionDueAtTRegardingCellPhone...,2020-12-31,2020-10-31,0,963.0
182726,1623360,3089.0,US,RemainingUnpaidPortionDueAtTRegardingCellPhone...,2020-12-31,2020-07-31,0,1234.0
182727,1623360,3089.0,US,StockIssuedForConvertibleDebtAndInterest,2020-12-31,2020-10-31,1,470214.0
182728,1623360,3089.0,US,StockIssuedForConvertibleDebtAndInterest,2020-12-31,2019-10-31,1,320813.0
182729,1623360,3089.0,US,WorkingCapitalSurplusDeficit,2020-12-31,2020-10-31,0,-2915117.0

Save the merged file:

In [23]:
merged.to_csv('data/sec/merged/'+folder+'.csv', index=False)

Put all of this into a function:

In [24]:
def merge_sec_files(folder):
    keep_these_columns = ['cik','sic','countryinc','tag','filed','ddate','qtrs','value']

    filings = pd.read_table('data/sec/downloads/'+folder+'/sub.tsv')
    numbers = pd.read_table('data/sec/downloads/'+folder+'/num.tsv', encoding='ISO-8859-1', error_bad_lines=False) 

    filings = filings[filings.form.isin(['10-Q','10-K']) & filings.cik.notnull()]
    numbers = numbers[(numbers.dimh=='0x00000000')]                                     # keep only non-segment data

    merged = numbers.merge(filings, on='adsh', how='inner')[keep_these_columns]

    merged['filed'] = pd.to_datetime(merged.filed, format='%Y%m%d', errors='coerce')    #  â€˜coerceâ€™: invalid parsing set as NaT.
    merged['ddate'] = pd.to_datetime(merged.ddate, format='%Y%m%d', errors='coerce')    

    merged = merged[merged.filed.notnull() & merged.ddate.notnull()].drop_duplicates()

    merged.to_csv('data/sec/merged/'+folder+'.csv', index=False)
    
    return merged

Use function like this:

In [25]:
merge_sec_files('2020_11')

/Users/bradpetersen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,cik,sic,countryinc,tag,filed,ddate,qtrs,value
0,1360901,6282.0,US,AccountsPayableAndAccruedLiabilitiesCurrent,2020-11-02,2020-09-30,0,4.108400e+07
1,1360901,6282.0,US,AccountsPayableAndAccruedLiabilitiesCurrent,2020-11-02,2019-12-31,0,3.972600e+07
2,1360901,6282.0,US,AccumulatedOtherComprehensiveIncomeLossNetOfTax,2020-11-02,2020-09-30,0,-3.140300e+07
3,1360901,6282.0,US,AccumulatedOtherComprehensiveIncomeLossNetOfTax,2020-11-02,2019-12-31,0,-2.759600e+07
4,1360901,6282.0,US,AdditionalPaidInCapital,2020-11-02,2020-09-30,0,2.216722e+09
...,...,...,...,...,...,...,...,...
1690320,1003815,6513.0,US,EntityCommonStockSharesOutstanding,2020-11-12,2020-09-30,0,1.000000e+03
1690321,1003815,6513.0,US,SubscriptionPayable,2020-11-12,2019-12-31,0,1.000000e+02
1690322,1003815,6513.0,US,SubscriptionPayable,2020-11-12,2020-09-30,0,1.000000e+02
1690323,1776909,7812.0,US,EntityCommonStockSharesOutstanding,2020-11-16,2020-10-31,0,3.867314e+07
1690324,1261379,6221.0,US,EntityCommonStockSharesOutstanding,2020-11-13,2020-10-31,0,0.000000e+00

And now loop over all files:

In [26]:
for folder in os.listdir('data/sec/downloads/'):
    if not folder.startswith('.'):
        print(folder)
        merge_sec_files(folder)

2020_11

/Users/bradpetersen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

2020_10
2014q3
2014q4
2018q1
2010q2
2012q1

/Users/bradpetersen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

2016q1
2014q2
2010q3
2010q4
2020q1
2009q3

/Users/bradpetersen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

2009q4
2009q2
2013q2
2011q1
2019q2
2017q3
2017q4
2019q3
2019q4
2013q3
2013q4
2015q1
2017q2
2020_12
2018q2
2010q1
2012q2
2016q4
2016q3
2012q4
2012q3
2018q4
2018q3
2016q2
2014q1
2021_01
2020q2

/Users/bradpetersen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (35,38) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

2020q3
2009q1
2020q4
2015q4
2015q3
2013q1
2011q2
2019q1
2015q2
2017q1
2011q4
2011q3

In [98]:
#for folder in os.listdir('data/sec/downloads/'):
           #if not folder.startswith('.'):
            #    if os.path.exists('data/sec/downloads/'+folder+'/'+folder+'_notes-metadata.json'):
             #       os.remove('data/sec/downloads/'+folder+'/'+folder+'_notes-metadata.json')
              #  else:
               #     print('Cant delete file in ' + folder)
            
#add comments hashtags so i don't delete files on accident

Cant delete file in 2020_11
Cant delete file in 2020_10
Cant delete file in 2014q3
Cant delete file in 2014q4
Cant delete file in 2018q1
Cant delete file in 2010q2
Cant delete file in 2012q1
Cant delete file in 2016q1
Cant delete file in 2014q2
Cant delete file in 2010q3
Cant delete file in 2010q4
Cant delete file in 2020q1
Cant delete file in 2009q3
Cant delete file in 2009q4
Cant delete file in 2009q2
Cant delete file in 2013q2
Cant delete file in 2011q1
Cant delete file in 2019q2
Cant delete file in 2017q3
Cant delete file in 2017q4
Cant delete file in 2019q3
Cant delete file in 2019q4
Cant delete file in 2013q3
Cant delete file in 2013q4
Cant delete file in 2015q1
Cant delete file in 2017q2
Cant delete file in 2020_12
Cant delete file in 2018q2
Cant delete file in 2010q1
Cant delete file in 2012q2
Cant delete file in 2016q4
Cant delete file in 2016q3
Cant delete file in 2012q4
Cant delete file in 2012q3
Cant delete file in 2018q4
Cant delete file in 2018q3
Cant delete file in 2016q2
Cant delete file in 2014q1
Cant delete file in 2020q2
Cant delete file in 2020q3
Cant delete file in 2009q1
Cant delete file in 2020q4
Cant delete file in 2015q4
Cant delete file in 2015q3
Cant delete file in 2013q1
Cant delete file in 2011q2
Cant delete file in 2019q1
Cant delete file in 2015q2
Cant delete file in 2017q1
Cant delete file in 2011q4
Cant delete file in 2011q3